body {
  background-color: #000000; }

.head {
  background-image: url(../img/top-bars.jpg);
  background-repeat: no-repeat;
  background-position: center top; }

h5 {
  color: #dfdfdf;
  white-space: nowrap; }

h3 {
  color: #dfdfdf;
  white-space: nowrap; }

p {
  color: #9b9a9a; }

.portfolio {
  margin-top: 55px; }

.divider {
  height: 21px;
  background-position: center top;
  background-image: url("../img/divider-01.jpg");
  background-color: #000000; }

.top_line, .about {
  background-position: center top;
  background-image: url("../img/background-tile.jpg");
  background-color: #000000;
  padding-top: 55px;
  padding-bottom: 55px; }

.item_one img {
  border: #1e1e1e solid 4px; }

.item_bottom {
  background-position: center top;
  background-image: url("../img/skip-btn.jpg");
  background-color: #000000; }
  .item_bottom a {
    height: 64px;
    display: block;
    background-position: 0 0px;
    position: relative; }
  .item_bottom:hover {
    height: 64px;
    display: block;
    background-position: center -64px;
    position: relative; }
  .item_bottom.off {
    background-position: center top;
    background-image: url("../img/skip-btn-off.jpg");
    background-color: #000000; }
  .item_bottom.end-one {
    background-position: center top;
    background-image: url("../img/end-01.jpg");
    background-color: #000000;
    height: 90px; }

.skiplink {
  display: block; }

#facebook-link a {
  color: #0c54b9; }

.footer p {
  text-align: center; }

@media only screen and (max-width: 767px) {
  .head {
    text-align: center; }

  .portfolio {
    margin-top: 0;
    text-align: center; }

  .item_one {
    width: 130px;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 5px;
    text-align: center; }

  .top_line, .about {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none; }

  .divider {
    height: 21px;
    display: none;
    background-image: none; }

  .item_bottom {
    display: none;
    background-image: none; }

  .mobile_bottom {
    display: none; }

  #row-about {
    text-align: center;
    padding-top: 10px; }

  p {
    font-size: small;
    text-align: center; }
    p.about-body {
      text-align: left; }

  .about {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 5px; }

  h3 {
    font-size: larger; } }
@media only screen and (max-width: 768px) {
  .flashcontent {
    display: none; }

  .item_bottom {
    display: none;
    background-image: none; }

  .mobile_bottom {
    height: 64px;
    background-position: center top;
    background-image: url("../img/skip-btn-off.jpg");
    background-color: #000000; }

  p {
    font-size: small; }

  .end-one {
    background-position: center top;
    background-image: url("../img/end-01.jpg");
    background-color: #000000;
    height: 90px; } }
.fancybox-type-iframe .fancybox-nav {
  width: 60px; }

.fancybox-type-iframe .fancybox-nav span {
  visibility: visible;
  opacity: 0.5; }

.fancybox-type-iframe .fancybox-nav:hover span {
  opacity: 1; }

.fancybox-type-iframe .fancybox-next {
  right: -60px; }

.fancybox-type-iframe .fancybox-prev {
  left: -60px; }
