body {
  background-color: #000000; }

.head {
  background-image: url(../img/top-bars.jpg);
  background-repeat: no-repeat;
  background-position: center top; }

h5 {
  color: #dfdfdf;
  white-space: nowrap; }

h3 {
  color: #dfdfdf;
  white-space: nowrap; }

p {
  color: #9b9a9a; }

.portfolio {
  margin-top: 55px; }

.divider {
  height: 21px;
  background-position: center top;
  background-image: url("../img/divider-01.jpg");
  background-color: #000000; }

.top_line, .about {
  background-position: center top;
  background-image: url("../img/background-tile.jpg");
  background-color: #000000;
  padding-top: 55px;
  padding-bottom: 55px; }

.item_one img {
  border: #1e1e1e solid 4px; }

.item_bottom {
  background-position: center top;
  background-image: url("../img/skip-btn.jpg");
  background-color: #000000; }
  .item_bottom a {
    height: 64px;
    display: block;
    background-position: 0 0px;
    position: relative; }
  .item_bottom:hover {
    height: 64px;
    display: block;
    background-position: center -64px;
    position: relative; }
  .item_bottom.off {
    background-position: center top;
    background-image: url("../img/skip-btn-off.jpg");
    background-color: #000000; }
  .item_bottom.end-one {
    background-position: center top;
    background-image: url("../img/end-01.jpg");
    background-color: #000000;
    height: 90px; }

.skiplink {
  display: block; }

#facebook-link a {
  color: #0c54b9; }

.footer p {
  text-align: center; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .portfolio {
    margin-top: 0;
    padding-bottom: 20px;
    text-align: center; }

  #row-four {
    text-align: center; }

  .top_line, .about {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none; }

  .divider {
    height: 21px;
    display: none;
    background-image: none; }

  h3 {
    font-size: large;
    padding-left: 20px;
    padding-top: 20px;
    text-align: left; }

  h5 {
    text-align: center;
    padding-top: 10px; }

  p {
    text-align: center;
    font-size: small; }
    p.about-body {
      text-align: justify;
      padding-left: 20px;
      padding-right: 20px; }

  #row-mobile {
    padding: 0; }

  .item_bottom {
    display: none;
    background-image: none; }

  .item_one {
    text-align: center;
    background-color: #2e2e2e;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px; }
    .item_one img {
      width: 230px;
      border: #1e1e1e solid 4px; }

  .about {
    background-color: #2e2e2e;
    padding-top: 20px;
    border-radius: 5px; }

  .footer {
    text-align: left;
    padding-top: 20px; } }
@media only screen and (min-device-width: 480px) and (max-width: 768px), only screen and (max-device-width: 768px) {
  .head {
    text-align: center; }

  .portfolio {
    padding-bottom: 20px;
    text-align: center; }

  .item_one {
    text-align: center; }
    .item_one img {
      width: 500px;
      border: #1e1e1e solid 4px; }

  p {
    text-align: center; }
    p.about-body {
      text-align: justify;
      padding-left: 20px;
      padding-right: 20px; }

  #row-four {
    text-align: center; }

  h3 {
    /* text-align: center; */ }

  h5 {
    text-align: center;
    padding-top: 10px; } }
@media only screen and (min-device-width: 480px) and (max-width: 767px), only screen and (max-device-width: 767px) {
  .portfolio {
    margin-top: 0;
    padding-bottom: 20px;
    text-align: center; }

  .item_one {
    text-align: center; }
    .item_one img {
      width: 500px;
      border: #1e1e1e solid 4px; }

  p {
    text-align: center; }
    p.about-body {
      text-align: justify;
      padding-left: 20px;
      padding-right: 20px; }

  #row-four {
    text-align: center; }

  h3 {
    text-align: left; }

  h5 {
    text-align: center;
    padding-top: 10px; } }
