// Global Vars
$defaultFontColour:#dfdfdf;
$defaultBodyFontColour:#9b9a9a;

//functions

@mixin background($posOne, $posTwo, $url) {
  background-position: $posOne $posTwo;
  background-image: url($url);
  
}



body {
	background-color: #000000;
}
.head {
	background-image: url(../img/top-bars.jpg) ;
	background-repeat: no-repeat;
	background-position: center top;
}

h5 {
	color: $defaultFontColour;
	white-space: nowrap;
	
}
h3 {
	color: $defaultFontColour;
	white-space: nowrap;
	
}
p{
	color:$defaultBodyFontColour;
		
	
}
.portfolio {
	margin-top: 55px;
}
.divider {
	height: 21px;
	
	@include background(center,top,'../img/divider-01.jpg');

	}
.top_line{
	@include background(center,top,'../img/background-tile.jpg');
	
	padding-top: 55px;
	padding-bottom: 55px;
}
.item_one img{
border: #1e1e1e solid 4px;

}
.item_bottom {
@include background(center,top,'../img/skip-btn.jpg');

	a {	height:64px; display: block;background-position: 0 0px; position: relative;}
	
	&:hover { height:64px; display: block;background-position: center -64px; position: relative;}
	
	&.off {
		@include background(center,top,'../img/skip-btn-off.jpg');
		

	}
	&.end-one {
		@include background(center,top,'../img/end-01.jpg');
		height:90px;

	}
	
		
}
.about {
	@extend .top_line;
}
//pwn gumby skiplink style
.skiplink{
	display: block;
}
#facebook-link{
 a {
	 color: #0c54b9;
 }
}
.footer p {
	text-align: center;

}