//vars
$globalPadding:10px;
$globalTextPadding:10px;
$globalColour:#2e2e2e;

//Mobiles
@media only screen and (max-width: 767px) {
	.head{
		text-align: center;
	}
	.portfolio {
		margin-top: 0;
		text-align: center;
		
		}
	.item_one {
		width:130px;
		padding: $globalPadding;
		background-color: $globalColour;
		border-radius: 5px;
		text-align: center;
	}
	.top_line{
	padding-top: 0;
	padding-bottom: 0;
	background-image: none;

		
	}
	.divider {
	height: 21px;
	display: none;
	background-image: none;
	}
	.item_bottom {
		
		display: none;
		background-image: none;
	
	}
	
	.mobile_bottom {
		display: none;
	}
	#row-about {
	text-align: center;
	padding-top: 10px;
		
		
	}
	p {
			font-size: small;
			text-align: center;
			&.about-body{text-align: left;}
		}
	.about {
		background-color: $globalColour;
		padding: $globalPadding;
		border-radius: 5px;

	}
	
	h3 {
		font-size: larger;
	}
		
}
//Tablets
@media only screen and (max-width: 768px) {
	
	.item_bottom {
	
	display: none;
	background-image: none;

	}
	.mobile_bottom {
		height:64px;;
		@include background(center,top,'../img/skip-btn-off.jpg');

	}
	p {
		font-size: small;
	}
		.end-one {
		@include background(center,top,'../img/end-01.jpg');
		height:90px;

	}

}
@media only screen and (max-device-width: 767px) {
.flashcontent {
		display: none;
	}
}
@media only screen and (max-device-width: 768px) {
.flashcontent {
		display: none;
	}
}